﻿@model GigHub.Core.Foundation.ViewModels.FollowingsViewModel

@{
    ViewBag.Title = "Artists I'm Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artists I'm Following</h2>
<ul class="list-group gh-artists gh-top30 gh-bottom30">
    @foreach (var artist in Model.Artists)
    {
        <li class="list-group-item clearfix">
            @artist.Name
            <span class="pull-right"> @* 0 theming *@
                <button data-artist-id="@(artist.Id)" class="btn btn-xs btn-link js-toggle-followartist">
                    (Unfollow)
                </button>
            </span>
        </li>
    }
</ul>

@* 0 http://stackoverflow.com/questions/22868664/bootstrap-3-span-elements-floating-right-in-list-group-item-do-not-consume-vert *@