﻿@using GigHub.Core.Controllers
@using GigHub.Core.Foundation.Models
@using GigHub.Core.Utilities
@using GigHub.Core.Utilities.BundlesRegistry
@model GigHub.Core.Foundation.ViewModels.GigFormViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Title;
}

@section styles {
    @Styles.Render(AppStyles.CreateOrEdit)
}

@using (Html.BeginForm(actionName: nameof(GigsController.Upsert), controllerName: UMvc.Ctrler<GigsController>(), method: FormMethod.Post, htmlAttributes: new { @class = "gh-form-create-gig", role = "form", id="GigCreationForm", name = "GigCreationForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id) @*vital*@
    @* @Html.HiddenFor(m => m.Genres) interestingly enough using this causes the submitted model instance to be flagged as invalid inside create *@

    <h2 class="gh-form-create-gig-heading">
        @Model.Title
    </h2>

    if (!string.IsNullOrEmpty(Model.PossibleError))
    {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @Model.PossibleError
        </div>
    }

    <div class="form-group input-group gh-bottom0">
        <span class="input-group-addon"><i class="glyphicon glyphicon-road"></i></span>
        @Html.TextBoxFor(m => m.Venue, new {@class = "form-control gh-venue", type = "text", name = "venue", placeholder = "Venue" /* , required = "" */, autofocus = ""})
    </div>
    @Html.ValidationMessageFor(m => m.Venue, validationMessage: null, htmlAttributes: new { @class = "help-block" })

    <div class="form-group input-group gh-bottom0">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        @Html.TextBoxFor(m => m.Date, new {@class = "form-control", type = "text", /*type = "date", creates problems with chrome */ name = "date", placeholder = "Date (10 Jan 2010)" /* , required = "" */})
    </div>
    @Html.ValidationMessageFor(m => m.Date, validationMessage: null, htmlAttributes: new { @class = "help-block" })

    <div class="form-group input-group gh-bottom0">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        @Html.TextBoxFor(m => m.Time, new {@class = "form-control", type = "text", name = "time", placeholder = "Time (18:35)", @* for some reason the pattern property doesnt work   pattern="^\\s*([0-1][0-9]|2[0-4])\\s*[:]\\s*([0-5][0-9]|60)\\s*$" , required = "" *@ })
    </div>
    @Html.ValidationMessageFor(m => m.Time, validationMessage: null, htmlAttributes: new { @class = "help-block" })

    <div class="form-group input-group gh-bottom0">
        <span class="input-group-addon"><i class="glyphicon glyphicon-music"></i></span>
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, dataValueField: nameof(Genre.Id), dataTextField: nameof(Genre.Name)), ". . .", new {@class = "form-control gh-genre", name = "genre", data_minimum_results_for_search = "Infinity"})
    </div>
    @Html.ValidationMessageFor(m => m.GenreId, validationMessage: null, htmlAttributes: new { @class = "help-block" })

    <button class="btn btn-lg btn-info btn-block gh-top5" type="submit">Save</button>

    @*<div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'" data-ng-cloak>{{message}}</div>*@
}

