﻿@using GigHub.Core.Utilities
@using Microsoft.AspNet.Identity

@model GigHub.Core.Foundation.ViewModels.SingleGigViewModel

@{
    ViewBag.Title = $"{Model.Gig.Venue} Gig @{Model.Gig.DateTime.ToString(UDates.GigDateFormat)}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Model.Gig.Artist.Name
    @if (User.Identity.IsAuthenticated && Model.Gig.Artist.Id != User.Identity.GetUserId())
    {
        <a class="btn @(Model.Following ? "btn-info" : "btn-default") js-toggle-followartist gh-toggle-followartist" data-artist-id="@(Model.Gig.Artist.Id)">
            @(Model.Following ? "Following !" : "Follow ?")
        </a>
    }
</h2>

<p>This Gig is taking place at @Model.Gig.Venue on @UDates.FormatDateTryOmitYear(Model.Gig.DateTime) at @Model.Gig.DateTime.ToString(UDates.GigTimeOfDayFormat).</p>

@if (Model.Gig.Artist.Id == User.Identity.GetUserId())
{
    <p>You are staging this event.</p>
}
else if (User.Identity.IsAuthenticated && Model.Attending)
{
    <p>You'll be attending this event.</p>
}

@* 0 http://stackoverflow.com/questions/22868664/bootstrap-3-span-elements-floating-right-in-list-group-item-do-not-consume-vert *@