.select2.select2-container .selection .select2-selection {
  height: 35px;
}
.select2.select2-container .selection .select2-selection .select2-selection__rendered {
  padding: 3px 0 0 0;
  font-size: 16px;
}

/*# sourceMappingURL=create-or-edit.css.map */
