﻿@using GigHub.Core.Controllers
@using GigHub.Core.Utilities
@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", nameof(AccountController.Login), UMvc.Ctrler<AccountController>(), routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
