﻿@using GigHub.Core.Controllers
@using GigHub.Core.Utilities
@using GigHub.Core.Utilities.BundlesRegistry
@using GigHub.Core.Utilities.HtmlHelpers

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GigHub</title>

    <link runat="server" rel="icon" href="~/favicon.ico?id=foo" type="image/ico"/>
    <link runat="server" rel="shortcut icon" href="~/favicon.ico?id=foo" type="image/x-icon"/>
    @* http://stackoverflow.com/a/6296104/863651 the  parameters following the favicon.ico are there to workaround some weird caching issues with firefox *@

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    @Styles.Render(AppStyles.Rockbed)
    @RenderSection("styles", required: false)

    @Scripts.Render(AppScripts.Rockbed)
    <meta name="description" content="GigHub"/> @*0 seo*@
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                @*1 smallviewports*@
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("♬ GigHub", nameof(HomeController.GigsList), UMvc.Ctrler<HomeController>(), new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_NavBarConditionalOptionsPartial")
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody() @*5*@
    <hr/>
    <footer>
        @* todo  make year fetching a bit smarter by debouncing the requests for it pe for every 10k renders *@
        <p>&copy; @DateTime.UtcNow.Year - GigHub</p>
    </footer>
</div>

@Html.Raw(Html.GetRequireJsStandardSetupHtml(Url))

</body>
</html>
@* 0 seo   an even better approach for setting the metadescription dynamically can be found here http://stackoverflow.com/questions/20993317/asp-net-mvc-different-views-need-different-meta-tag-in-head-inside-layout-pa
   1 this is the small-viewports menu-button and it gets displayed only on small viewports aka when the browser window gets shrinked too much   if the viewport is enlarged this button is hidden
   5 renderbody will first attempt to render the default home page based on the default jumpstart route specified inside the routeconfig file   the default route when creating an mvc project is home/index *@

