﻿@using GigHub.Core.Utilities
@using GigHub.Core.Controllers
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("+ Add a Gig", nameof(GigsController.Create), UMvc.Ctrler<GigsController>())</li> @* visibletext targetview controllername *@
    </ul>

    using (Html.BeginForm(nameof(AccountController.LogOff), UMvc.Ctrler<AccountController>(), FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" id="notificationsPopoverButton">
                <a href="#" title="Notifications"><i class="glyphicon glyphicon-globe"></i></a> @*0*@
                <span class="badge hide animated js-unread-notifications-counter">-1</span>
            </li>
            <li class="dropdown">
                <a href="#" class="btn btn-default dropdown-toggle" type="button" id="menuDropdown" data-toggle="dropdown" role="button">
                    @User.Identity.GetUserName()
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menuDropdown">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action(controllerName: UMvc.Ctrler<GigsController>(), actionName: nameof(GigsController.GigsStagedByMe))">Gigs staged by me</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action(controllerName: UMvc.Ctrler<GigsController>(), actionName: nameof(GigsController.Attending))">Gigs I'll be Attending</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action(controllerName: UMvc.Ctrler<GigsController>(), actionName: nameof(GigsController.ArtistsFollowedByUser))">Artists I'm Following</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", nameof(AccountController.Register), UMvc.Ctrler<AccountController>(), routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", nameof(AccountController.Login), UMvc.Ctrler<AccountController>(), routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

@Html.Partial("LodashTemplates/Notifications")

@* 0 http://stackoverflow.com/questions/1827965/is-putting-a-div-inside-an-anchor-ever-correct  placing an i inside an anchor element is ok

    note to self   per aspnet design _partialviews cannot inject scripts into the mainlayout page    if you see @script sections used in a view
    then the view you are seeing is definately not a partial view

     @section scripts { }   //doesnt work in partial views

    in order to workaround this limitations people in stackoverflow have posted their own mechanisms for achieving this sort of effect
*@
