﻿@using GigHub.Core.Controllers
@using GigHub.Core.Utilities
@using GigHub.Core.Utilities.HtmlHelpers.HtmlControls
@model GigHub.Core.Foundation.ViewModels.IGigsViewModel

@{
    ViewBag.Title = "Home"; @* title displayed on the tab *@
}

<section>
    <header>
        <h1>@Model.Heading</h1>
    </header>

    @if (Model.FilteringOptions != null && !string.IsNullOrEmpty(Model.UserId))
    {
        // displayed only for logged in users
        using (Html.XBeginForm(
            expression: x => x.FilteringOptions,
            htmlAttributes: new
            {
                name = "GigFilterForm",
                @class = "gh-form-filter-gigs"
            }))
        {
            <div class="form-group">
                <div class="input-group">
                    @Html.XTextBoxFor(
                        expression: x => x.FilteringOptions.SearchTerm,
                        htmlAttributes: new
                        {
                            name = Model.FilteringOptions.SearchTermHtmlName, //temp workaround
                            @class = "form-control",
                            autofocus = "",
                            placeholder = "Search genre, artist, venue ..."
                        })
                    <span class="input-group-addon" id="basic-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
            </div>
            <input class="hide" type="submit"/>
        }
    }

    <ul class="gh-gigs gh-top30">
        @if (!Model.UpcomingGigs.Any())
        {
            <h3>( No Gigs To Display ... )</h3>
        }

        @foreach (var gig in Model.UpcomingGigs)
        {
            <li title="@(gig.GotCancelled ? @"Gig Cancelled" : @"")"
                class="gh-gig-result-entry @(gig.GotCancelled ? "gh--tag--gig-cancelled" : "")">
                <div class="gh-date">
                    <div class="gh-month">
                        @gig.DateTime.ToString("MMM")
                    </div>
                    <div class="gh-year">
                        @gig.DateTime.ToString("(yyyy)")
                    </div>
                    <div class="gh-day">
                        @gig.DateTime.ToString("d ")
                    </div>
                </div>
                <div class="gh-details">
                    <span class="gh-artist">
                        <a
                            tabindex="-1"
                            href="@Url.Action(controllerName: UMvc.Ctrler<GigsController>(), actionName: nameof(GigsController.SingleGig), routeValues: new {gigId = gig.Id})">
                            @gig.Artist.Name
                        </a>

                        @if (!string.IsNullOrEmpty(Model.UserId) && Model.UserId != gig.Artist.Id) //1
                        {
                            <button data-artist-id="@(gig.Artist.Id)" class="btn btn-xs @(Model.ArtistsFollowedByUser.Contains(gig.Artist.Id) ? "btn-info" : "btn-link") js-toggle-followartist">
                                @(Model.ArtistsFollowedByUser.Contains(gig.Artist.Id) ? "Following !" : "Follow ?")
                            </button>
                        }
                    </span>
                    <span class="gh-genre">
                        @gig.Genre.Name
                    </span>
                    @if (!gig.GotCancelled && !string.IsNullOrEmpty(Model.UserId) && Model.UserId != gig.Artist.Id)
                    {
                        <button data-gig-id="@(gig.Id)" class="btn btn-xs @(Model.AttendancesOfUser.Contains(gig.Id) ? "btn-info" : "btn-default") js-toggle-attendance">
                            @(Model.AttendancesOfUser.Contains(gig.Id) ? "Going !" : "Going ?")
                        </button>
                    }
                </div>
            </li>
        }
    </ul>
</section>

@* 1 to show the follow button the user must be logged in and he obviously needs to have a different userid than the userid of the artist to follow   daahh *@