﻿@using GigHub.Core.Controllers
@using GigHub.Core.Utilities
@using GigHub.Core.Utilities.HtmlHelpers.HtmlControls
@model GigHub.Core.Foundation.ViewModels.GigsStagedByMeViewModel

@{
    ViewBag.Title = "Gigs I'm Staging"; @* title displayed on the tab *@
}

<header>
    <h1>Gigs I'm Staging</h1>
</header>

@using (
    Html.XBeginForm(
        expression: x => x.Filtering, //todo  enhance formsubmit to have it omit the ?query=... part if the textbox is empty
        htmlAttributes: new
        {
            name = "GigFilterForm",
            @class = "gh-form-filter-gigs"
        })
    )
{
    <div class="form-group">
        <div class="input-group">
            @Html.XTextBoxFor(
                expression: x => x.Filtering.SearchTerm,
                htmlAttributes: new
                {
                    name = Model.Filtering.SearchTermHtmlName, //temp workaround
                    @class = "form-control",
                    autofocus = "",
                    placeholder = "Search genre, artist, venue ...",
                })
            <span class="input-group-addon" id="basic-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
    <input class="hide" type="submit"/>
}

<ul class="gh-gigs gh-top30">
    @foreach (var gig in Model.Gigs)
    {
        <li title="@(gig.GotCancelled ? @"Gig Cancelled" : @"")"
            class="gh-gig-result-entry @(gig.GotCancelled ? "gh--tag--gig-cancelled" : "")">
            <div class="gh-date">
                <div class="gh-month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="gh-year">
                    @gig.DateTime.ToString("(yyyy)")
                </div>
                <div class="gh-day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="gh-details">
                <span class="gh-artist">
                    <a
                        tabindex="-1"
                        href="@Url.Action(controllerName: UMvc.Ctrler<GigsController>(), actionName: nameof(GigsController.SingleGig), routeValues: new {gigId = gig.Id})">
                        @gig.Artist.Name
                    </a>
                </span>
                <span class="gh-genre">
                    @gig.Genre.Name
                </span>
                <div class="actions">
                    <a tabindex="-1" href="@Url.Action(controllerName: UMvc.Ctrler<GigsController>(), actionName: nameof(GigsController.Edit), routeValues: new {gigId = gig.Id})">
                        Edit
                    </a>
                    &nbsp;|&nbsp;
                    <a tabindex="-1" href="#" data-gig-id="@(gig.Id)" class="js-togglecancel-gig @(gig.GotCancelled ? "gh-undo-cancel" : "")">
                        @(gig.GotCancelled ? "Undo " : "")Cancel
                    </a>
                </div>
            </div>
        </li>
    }
</ul>

@* 1 to show the follow button the user must be logged in and he obviously needs to have a different userid than the userid of the artist to follow   daahh *@