@font-face {
  font-family: "Glyphicons Halflings";
  src: url("fonts/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 90px;
  margin-bottom: 60px;
  padding-bottom: 10px;
}

body, .tooltip, .popover {
  font-family: "Lato", sans-serif;
}

.popover, input[type=text].form-control, input[type=text].form-control:focus, select.form-control, select.form-control:focus {
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
}

.navbar-inverse {
  border-color: #ff4342 !important;
  background-color: #ff4342 !important;
}
.navbar-inverse a.navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: white !important;
}
.navbar-inverse .btn-default,
.navbar-inverse .navbar-form,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-collapse {
  border-color: white !important;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #f33c3b !important;
}
.navbar-inverse .dropdown .caret {
  margin-left: 5px;
}
.navbar-inverse .dropdown > a.dropdown-toggle {
  background-color: transparent !important;
}
.navbar-inverse .dropdown a.dropdown-toggle:focus {
  background-color: #ff4342 !important;
}
.navbar-inverse .dropdown > a.dropdown-toggle:hover,
.navbar-inverse .dropdown > a.dropdown-toggle:active,
.navbar-inverse .dropdown > .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown > .dropdown-menu > li > a:focus,
.navbar-inverse .dropdown > .dropdown-menu > li > a:active {
  background-color: #f54a49 !important;
}
.navbar-inverse .dropdown > li > a {
  color: white !important;
}
.navbar-inverse .dropdown .dropdown-menu {
  background-color: #ff4342 !important;
}
.navbar-inverse .dropdown .dropdown-menu > li > a {
  color: white !important;
  background-color: #ff4342 !important;
}
.navbar-inverse .dropdown .dropdown-menu > li > a:hover {
  background-color: #f33c3b !important;
}
.navbar-inverse .dropdown .dropdown-menu > .divider {
  background-color: #e5e5e5 !important;
}

.body-content {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.dl-horizontal dt {
  white-space: normal;
}

input,
select,
textarea {
  max-width: 280px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.text-muted {
  margin: 20px 0;
}

.gh-form-filter-gigs {
  max-width: 300px;
}

.gh-form-create-gig {
  max-width: 330px;
  padding: 0 15px 5px 15px;
  margin: 0 auto;
}
.gh-form-create-gig .gh-form-create-gig-heading {
  margin-bottom: 10px;
}
.gh-form-create-gig .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.gh-form-create-gig .form-control:focus {
  z-index: 2;
}

#notificationsPopoverButton {
  position: relative;
  margin-right: 6px;
}
#notificationsPopoverButton .badge {
  top: 10px;
  right: 0;
  cursor: pointer;
  position: absolute;
  font-size: 7px;
  background-color: #cb0000;
}

.gh-artists {
  width: 300px;
}

.gh-gigs {
  list-style: none;
}
.gh-gigs > .gh-gig-result-entry.gh--tag--gig-cancelled {
  opacity: 0.5;
  text-decoration: line-through;
}
.gh-gigs > .gh-gig-result-entry.gh--tag--gig-cancelled .gh-date {
  background: lightgray;
}
.gh-gigs > .gh-gig-result-entry:hover .gh-details .actions {
  display: block;
}
.gh-gigs > .gh-gig-result-entry {
  position: relative;
  margin-bottom: 30px;
}
.gh-gigs > .gh-gig-result-entry .gh-date {
  width: 50px;
  color: white;
  background: red;
  text-align: center;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.gh-gigs > .gh-gig-result-entry .gh-date .gh-month {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.gh-gigs > .gh-gig-result-entry .gh-date .gh-year {
  font-size: 8px;
}
.gh-gigs > .gh-gig-result-entry .gh-date .gh-day {
  color: #333;
  padding: 3px 12px;
  font-size: 14px;
  background: #f7f7f7;
}
.gh-gigs > .gh-gig-result-entry .gh-details {
  top: 0;
  left: 70px;
  position: absolute;
}
.gh-gigs > .gh-gig-result-entry .gh-details .gh-artist {
  display: block;
  font-size: 17px;
  font-weight: bold;
}
.gh-gigs > .gh-gig-result-entry .gh-details .gh-artist .badge {
  background-color: #f0ad4e;
}
.gh-gigs > .gh-gig-result-entry .gh-details .gh-genre {
  font-size: 15px;
}
.gh-gigs > .gh-gig-result-entry .gh-details .actions {
  display: none;
  font-size: 12px;
}

.popover-notifications .popover-content {
  height: 250px;
  padding: 0;
  overflow: auto;
}
.popover-notifications .popover-content ul.notifications {
  list-style: none;
  overflow-x: hidden;
  padding-left: 0;
}
.popover-notifications .popover-content ul.notifications > li {
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #ddd;
  z-index: 0;
}
.popover-notifications .popover-content ul.notifications > li .gh-notification-artist {
  font-weight: bold;
}
.popover-notifications .popover-content ul.notifications > li .gh-notif-dismiss {
  top: 3px;
  font: 12px Arial, sans-serif;
  right: 5px;
  color: white;
  width: 19px;
  cursor: pointer;
  height: 19px;
  z-index: 10;
  padding: 1.5px 0 0 0.5px;
  position: absolute;
  text-align: center;
  outline: transparent 0;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: red;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.popover-notifications .popover-content ul.notifications > li:last-child {
  border-bottom: none;
}

.gh-strikethrough {
  text-decoration: line-through;
}

.gh-top5 {
  margin-top: 5px;
}

.gh-top7 {
  margin-top: 7px;
}

.gh-top10 {
  margin-top: 10px;
}

.gh-top15 {
  margin-top: 15px;
}

.gh-top17 {
  margin-top: 17px;
}

.gh-top30 {
  margin-top: 30px;
}

.gh-bottom0 {
  margin-bottom: 0;
}

.gh-bottom5 {
  margin-bottom: 5px;
}

.gh-bottom7 {
  margin-bottom: 7px;
}

.gh-bottom10 {
  margin-bottom: 10px;
}

.gh-bottom15 {
  margin-bottom: 15px;
}

.gh-bottom17 {
  margin-bottom: 17px;
}

.gh-bottom30 {
  margin-bottom: 30px;
}

.gh-left5 {
  margin-left: 5px;
}

.gh-left7 {
  margin-left: 7px;
}

.gh-left10 {
  margin-left: 10px;
}

.gh-left15 {
  margin-left: 15px;
}

.gh-left17 {
  margin-left: 17px;
}

.gh-left30 {
  margin-left: 30px;
}

.gh-padbottom0 {
  padding-bottom: 0;
}

.gh-padbottom2 {
  padding-bottom: 2px;
}

.gh-padbottom5 {
  padding-bottom: 5px;
}

.gh-padbottom7 {
  padding-bottom: 7px;
}

.gh-padbottom10 {
  padding-bottom: 10px;
}

.gh-padbottom15 {
  padding-bottom: 15px;
}

.gh-padbottom17 {
  padding-bottom: 17px;
}

.gh-padbottom30 {
  padding-bottom: 30px;
}

/*# sourceMappingURL=Site.css.map */
