﻿$pale-gray: #ccc
$pale-white: #e5e5e5
$vibrant-red: #ff4342
$footer-bg-color: #f5f5f5
$vibrant-red-dark: #f54a49
$gh-gig-day-color: #333
$vibrant-red-light: #f33c3b
$navbar-font-color: white
$gh-gig-date-color: white
$gh-gig-day-bgcolor: #f7f7f7
$gh-gig-date-bgcolor: red
$notification-button-color: #cb0000
$gh-gig-cancelled-date-bgcolor: lightgray

@font-face // bootstrap expects the fonts to be placed in the ../fonts folder by default however this is not always possible
  font-family: 'Glyphicons Halflings'
  src: url("fonts/glyphicons-halflings-regular.eot")
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")

html
  // Sticky footer styles
  position: relative
  min-height: 100%

body
  // Margin bottom by footer height
  padding-top: 90px
  margin-bottom: 60px
  padding-bottom: 10px

body, .tooltip, .popover
  font-family: "Lato", sans-serif

.popover, input[type=text].form-control, input[type=text].form-control:focus, select.form-control, select.form-control:focus
  // we dont want any shadows since we go after a flat design
  -ms-box-shadow: none
  -webkit-box-shadow: none
  box-shadow: none
  transition: none

.navbar-inverse
  border-color: $vibrant-red !important
  background-color: $vibrant-red !important

  a.navbar-brand,
  .navbar-nav > li > a
    color: $navbar-font-color !important

  .btn-default,
  .navbar-form,
  .navbar-toggle,
  .navbar-collapse
    border-color: white !important

  .navbar-toggle:focus,
  .navbar-toggle:hover
    background-color: $vibrant-red-light !important

  .dropdown
    .caret
      margin-left: 5px

    > a.dropdown-toggle
      background-color: transparent !important

    a.dropdown-toggle:focus
      background-color: $vibrant-red !important

    > a.dropdown-toggle:hover,
    > a.dropdown-toggle:active,
    > .dropdown-menu > li > a:hover,
    > .dropdown-menu > li > a:focus,
    > .dropdown-menu > li > a:active
      background-color: $vibrant-red-dark !important

    > li > a
      color: $navbar-font-color !important

    .dropdown-menu
      background-color: $vibrant-red !important

      > li > a
        color: $navbar-font-color !important
        background-color: $vibrant-red !important

      > li > a:hover
        background-color: $vibrant-red-light !important

      > .divider
        background-color: $pale-white !important

// Set padding to keep content from hitting the edges

.body-content
  margin-top: 15px
  padding-left: 15px
  padding-right: 15px

// Override the default bootstrap behavior where horizontal description lists
 * will truncate terms that are too long to fit in the left column
.dl-horizontal dt
  white-space: normal

// Set width on the form input elements since they're 100% wide by default
input,
select,
textarea
  max-width: 280px

#footer
  position: absolute
  bottom: 0
  width: 100%

  // Set the fixed height of the footer here
  height: 60px
  background-color: $footer-bg-color

.text-muted
  margin: 20px 0

// gighub rules

.gh-form-filter-gigs
  max-width: 300px

.gh-form-create-gig
  max-width: 330px
  padding: 0 15px 5px 15px
  margin: 0 auto

  .gh-form-create-gig-heading
    margin-bottom: 10px

  .form-control
    position: relative
    height: auto
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    padding: 10px
    font-size: 16px

  .form-control:focus
    z-index: 2

// gigs list

#notificationsPopoverButton
  position: relative
  margin-right: 6px

  .badge
    top: 10px
    right: 0
    cursor: pointer
    position: absolute
    font-size: 7px
    background-color: $notification-button-color

.gh-artists
  width: 300px

.gh-gigs
  list-style: none

  > .gh-gig-result-entry.gh--tag--gig-cancelled
    opacity: 0.5
    text-decoration: line-through

    .gh-date
      background: $gh-gig-cancelled-date-bgcolor

  > .gh-gig-result-entry:hover
    .gh-details .actions
      display: block

  > .gh-gig-result-entry
    position: relative
    margin-bottom: 30px

    .gh-date
      width: 50px
      color: $gh-gig-date-color
      background: $gh-gig-date-bgcolor
      text-align: center
      -ms-border-radius: 8px
      border-radius: 8px

      .gh-month
        margin: 0
        padding: 0
        font-size: 12px
        font-weight: bold
        text-transform: uppercase

      .gh-year
        font-size: 8px

      .gh-day
        color: $gh-gig-day-color
        padding: 3px 12px
        font-size: 14px
        background: $gh-gig-day-bgcolor

    .gh-details
      top: 0
      left: 70px
      position: absolute

      .gh-artist
        display: block
        font-size: 17px
        font-weight: bold

        .badge
          background-color: #f0ad4e

      .gh-genre
        font-size: 15px

      .actions
        display: none
        font-size: 12px

.popover-notifications
  .popover-content
    height: 250px
    padding: 0
    overflow: auto

    ul.notifications
      list-style: none
      overflow-x: hidden

      //artifactfix
      padding-left: 0

      > li
        padding: 10px
        position: relative
        border-bottom: 1px solid #ddd
        z-index: 0

        .gh-notification-artist
          font-weight: bold

        .gh-notif-dismiss
          top: 3px
          font: 12px Arial, sans-serif
          right: 5px
          color: white
          width: 19px
          cursor: pointer
          height: 19px
          z-index: 10
          padding: 1.5px 0 0 0.5px

          //border: 1px solid $vibrant-red;
          position: absolute
          text-align: center
          outline: transparent 0
          -ms-border-radius: 50%

          //order
          border-radius: 50%

          //order
          background-color: red
          -ms-user-select: none
          -moz-user-select: none
          -webkit-user-select: none
          user-select: none

      > li:last-child
        border-bottom: none

// utils

.gh-strikethrough
  text-decoration: line-through

.gh-top5
  margin-top: 5px

.gh-top7
  margin-top: 7px

.gh-top10
  margin-top: 10px

.gh-top15
  margin-top: 15px

.gh-top17
  margin-top: 17px

.gh-top30
  margin-top: 30px

.gh-bottom0
  margin-bottom: 0

.gh-bottom5
  margin-bottom: 5px

.gh-bottom7
  margin-bottom: 7px

.gh-bottom10
  margin-bottom: 10px

.gh-bottom15
  margin-bottom: 15px

.gh-bottom17
  margin-bottom: 17px

.gh-bottom30
  margin-bottom: 30px

.gh-left5
  margin-left: 5px

.gh-left7
  margin-left: 7px

.gh-left10
  margin-left: 10px

.gh-left15
  margin-left: 15px

.gh-left17
  margin-left: 17px

.gh-left30
  margin-left: 30px

.gh-padbottom0
  padding-bottom: 0

.gh-padbottom2
  padding-bottom: 2px

.gh-padbottom5
  padding-bottom: 5px

.gh-padbottom7
  padding-bottom: 7px

.gh-padbottom10
  padding-bottom: 10px

.gh-padbottom15
  padding-bottom: 15px

.gh-padbottom17
  padding-bottom: 17px

.gh-padbottom30
  padding-bottom: 30px
