﻿@* forward warning to future maintainers     http://stackoverflow.com/questions/3626250/escape-character-in-razor-view-engine *@
@* forward warning to future maintainers     this is razorview and thusly if you ever need to use the @ character in here you *@
@* forward warning to future maintainers     will have to either escape it as @@ or use the html codepoint which is &#64      *@

<script type="text/x-template" id="tmpl-notifications">
    <ul class="notifications">
        <% _templateConfig_.notificationsTemplateService.iterateOverNotifications(_templateConfig_.data, function (ea) { %>
        <li role="presentation"><%= ea.message %><span class="animate fadeIn hide gh-notif-dismiss">✕<span class='js-notification-id hidden'><%= ea.notificationId %></span></span></li> @* notice that we dont have to use <%- to escape html because we were careful to have it already escaped above *@
        <% }); %>
    </ul>
</script>